body.loaded {
  $animationOnLoadTimingFunction: cubic-bezier(0.23, 0.89, 0.8, 1.07);

  .page-header__menu {
    opacity: 1;
    transition: opacity 0.15s $animationOnLoadTimingFunction 0.1s;

    a.active {
      &::after {
        width: 100%;
        transition: width 0.35s $animationOnLoadTimingFunction 0.1s;
      }
    }
  }

  .social-block {
    transform: scale(1);
    transition: transform 0.15s $animationOnLoadTimingFunction 0.15s;
  }

  .page-header__logo {
    opacity: 1;
    transform: translateX(0);
    transition: 0.15s $animationOnLoadTimingFunction 0s;
  }

  .screen__footer {
    transform: translateY(0);
    transition: transform 0.5s $animationOnLoadTimingFunction;
  }
}
